{% extends 'base/base.html' %}
{% load static %}
{% block extra_style %}
  <link rel="stylesheet" href="{% static 'base/css/dron-find-me.css' %}">

{% endblock %}

{% block title %}
DRON: Найди меня!
{% endblock %}


{% block content %}
 <nav class="container navbar navbar-dark bg-dark">
    <a class=" navbar-brand mx-2" href="#!">
      <h1>DRON-HACK
        <i class="fa fa-plane " aria-hidden="true"></i>
      </h1>
    </a>
  </nav>

  <div class="container shadow-lg" id="app">
    <!-- TITLE MENU  -->
    <div class="row">
      <div class="col-12 mt-4 text-center">
        <h2>Мы ищем Вас...</h2>
      </div>
      <div class="col-6 offset-3 mb-4 text-center">
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">25%</div>
        </div>
      </div>
    </div>

    <!-- TABS MENU -->
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-tabs nav-fill" id="menuTabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="code-tab" data-toggle="tab" href="#code" role="tab" aria-controls="code" aria-selected="true"><i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="photo-tab" data-toggle="tab" href="#photo" role="tab" aria-controls="photo" aria-selected="false"><i class="fa fa-camera" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="signal-tab" data-toggle="tab" href="#signal" role="tab" aria-controls="signal" aria-selected="false"><i class="fa fa-wifi" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="operator-tab" data-toggle="tab" href="#operator" role="tab" aria-controls="operator" aria-selected="false"><i class="fa fa-phone" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="tab-content" id="menuTabsContent">
          <!-- MESSAGE CONTENT -->
          <div class="tab-pane fade show active" id="code" role="tabpanel" aria-labelledby="code-tab">
            <div class="container shadow-lg" id="app">
              <div class="row">
                <div class="col-12 my-4 text-center">
                  <h2>Заказ №13 прибыл</h2>
                  <p>Подтвердите, что вы являетесь заказчиком</p>

                </div>
              </div>

              <div class="row">
                <div class="col-12 my-4 text-center">
                  <button type="button" v-show="isSend" @click="sendCode" class="btn btn-primary btn-lg">Получить код авторизации</button>

                  <div class="input-group input-group-lg" v-show="isCheck">

                    <div class="input-group-prepend">
                      <span class="input-group-text">Код</span>
                    </div>
                    <input type="text" class="form-control" placeholder="****" minlength="4" maxlength="4" aria-label="" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                      <button class="btn btn-success" @click="checkCode" type="button">Проверить</button>
                    </div>
                  </div>

                  <h2 class="alert alert-success" v-show="isSuccess">Владелец подтверждён</h2>
                </div>

              </div>
            </div>
          </div>

          <!-- PHOTO CONTENT -->
          <div class="tab-pane fade text-center" id="photo" role="tabpanel" aria-labelledby="photo-tab">

            <div class="col-12 my-4 text-center">

              <p>Сделайте Selfi и приложите файл</p>
              <p>Мы постораемся найти Вас по вашему окружению</p>
            </div>
            <div class="fileinput fileinput-new" data-provides="fileinput">
              <div class="fileinput-preview img-thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
              <div>
                <span class="btn btn-outline-secondary btn-file">
                  <span class="fileinput-new">Select image</span>
                  <span class="fileinput-exists">Change</span>
                  <input type="file" name="...">
                </span>
                <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput">Remove</a>
              </div>
            </div>
          </div>

          <!-- WI_FI CONTENT -->
          <div class="tab-pane fade" id="signal" role="tabpanel" aria-labelledby="signal-tab">Сигнал ...</div>

          <!-- PHONE CONTENT -->
          <div class="tab-pane fade" id="operator" role="tabpanel" aria-labelledby="operator-tab">Оператор ...</div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block extra_script %}
  <script src="{% static 'base/js/dron-find-me.js' %}"></script>

{% endblock %}